h1
	{
		font-size: 30px;
		font-family: 'Libre Baskerville', serif;
	}

.headers
	{
		font-size: 24px;
		font-family: 'Libre Baskerville', serif;
	}

a:hover
	{
		font-size: 35px;
	}

#boldlink:hover
	{
		font-size: 35px;
	}


a:visited
	{
		color: black;
	}

#boldlink
	{
		font-size: 24px;
	}
a
	{
		font-family: 'Neucha', cursive;
	}

ol
	{
		font-family: 'Neucha', cursive;
	}

table
	{
		font-family: "Neucha", cursive;
	}

ul
	{
		font-family: "Neucha", cursive;
	}
